*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 8%;
    padding-right: 8%;
    height: 80px;
    background-color: blue;
    box-shadow: 1px 5px 25px 2px;
}
nav ul li{
    list-style-type: none;
    display:inline-block;
    padding:1px 15px;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 900;
}

table th,tr,td{
    border: 1px solid black;
}