<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form action="" method="POST">
     {% csrf_token %}
    <input type="text" placeholder="name" name="name_1">
    <br>
    <input type="age" placeholder="ago" name="age_1">
    <br>
    <input type="email" placeholder="email" name="email_1">
    <br>
    <input type="number" placeholder="phone" name="number_1">
    <br>
    <input type="submit" value="submit" >
</form>
</body>
</html>